<app-dashboard/>
<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-400 border-dashed rounded-lg dark:border-gray-700 mt-20">
       <div class="grid grid-cols-3 gap-4 mb-4">
          <div class="flex items-center flex-col justify-center h-24 rounded bg-yellow-300 dark:bg-yellow-300">
            <p class="text-2xl text-black dark:text-black font-bold font-serif">
                Total Courses
             </p>
             <p class="text-2xl text-black dark:text-black font-bold">
                {{courseLength}}
             </p>
          </div>
          <div class="flex items-center flex-col justify-center h-24 rounded bg-teal-200 dark:bg-teal-200 ">
            <p class="text-2xl text-black dark:text-black font-bold font-serif">
                Total Instructors
             </p>
             <p class="text-2xl text-black dark:text-black font-bold">
                {{instructorLength}}
             </p>
          </div>
          <div class="flex items-center flex-col justify-center h-24 rounded bg-violet-300 dark:bg-violet-200">
            <p class="text-2xl text-black dark:text-black font-bold font-serif">
                Total Students
             </p>
             <p class="text-2xl text-black dark:text-black font-bold">
                {{studentLength}}
             </p>
          </div>
       </div>
       <app-graph></app-graph>
    </div>
 </div>