<app-dashboard/>
<div class="flex justify-center items-center h-screen mt-28">
  <div class="ml-48 w-full max-w-md">
      <h2 class="text-2xl font-semibold mb-4 text-center text-2xl">
        Student Registration Form
      </h2>
      <form
        (ngSubmit)="onSubmit()"
        #courseForm="ngForm"
        class="bg-white shadow-2xl rounded px-8 pt-6 pb-8 mb-4"
      >
        <div class="mb-4">
          <label
            for="StudentID"
            class="block text-gray-700 text-sm font-bold mb-2"
            >StudentID</label
          >
          <input
            type="text"
            id="StudentID"
            name="StudentID"
            [(ngModel)]="student.StudentID"
            class="form-input border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-500"
          />
        </div>
        <div class="mb-4">
          <label for="Name" class="block text-gray-700 text-sm font-bold mb-2"
            >Name</label
          >
          <input
            type="text"
            id="Name"
            name="Name"
            [(ngModel)]="student.Name"
            class="form-input border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-500"
          />
        </div>
        <div class="mb-4">
          <label for="DoB" class="block text-gray-700 text-sm font-bold mb-2"
            >D.O.B</label
          >
          <input
            type="date"
            id="DoB"
            name="DoB"
            [(ngModel)]="student.DoB"
            class="form-input border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-500"
          />
        </div>
        <div class="mb-4">
          <label for="Gender" class="block text-gray-700 text-sm font-bold mb-2"
            >Gender</label
          >
          <select
            id="Gender"
            name="Gender"
            [(ngModel)]="student.Gender"
            class="form-select border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-500"
          >
            <option value="" disabled selected>Select a gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="mb-4">
          <label for="Major" class="block text-gray-700 text-sm font-bold mb-2"
            >Major</label
          >
          <input
            type="text"
            id="Major"
            name="Major"
            [(ngModel)]="student.Major"
            class="form-input border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-500"
          />
        </div>
        <div class="mb-4">
          <label for="Email" class="block text-gray-700 text-sm font-bold mb-2"
            >Email</label
          >
          <input
            type="email"
            id="Email"
            name="Email"
            [(ngModel)]="student.Email"
            class="form-input border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-500"
          />
        </div>
        <div class="mb-4">
          <label
            for="ContactNum"
            class="block text-gray-700 text-sm font-bold mb-2"
            >ContactNum</label
          >
          <input
            type="number"
            id="ContactNum"
            name="ContactNum"
            [(ngModel)]="student.ContactNum"
            class="form-input border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-500"
          />
        </div>
        <div class="flex justify-center">
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
  